

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=lato:400,700,300');

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


html {
  background-color: #dbad84;
  background: url(https://images.unsplash.com/photo-1516540438350-9db0f4e6552f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) 50% 50%;

	 background-attachment: fixed, scroll;
  background-repeat: no-repeat, repeat-y;
	
  height: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  color: #fff;
	
	
	
	#animatedBackground {
    		position: absolute;
    		height: 100%;
    		width: 100%;
    		
    		
    		background-position: 0 0;
    		background-size: auto 100%;

		

    		animation: animatedBackground 5s linear infinite;
    	}
    	@keyframes animatedBackground {
    		from {
    			left: -50%;
    		}
    		to {
    			left: 50%;
    		}
    	}
	
	
}

html, body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	will-change: background-color;
}

.section{
  min-height: 100vh;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

h1 {
  font-size: 9vw;
  line-height: 1;
  margin-top: 0;
}







ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #5a32a3;
}








.frame a,
.frame button {
	pointer-events: auto;
}




.content__enter {
	grid-area: 1 / 1 / -1 / -1;
	align-self: center;
	justify-self: center;
	color: #fff;
	font-size: 2rem;
	cursor: pointer;
	font-family: ivymode, sans-serif;
	font-weight: 200;
	z-index: 1;
}

.button-circle {
	width: 200px;
	height: 200px;
	display: grid;
	place-items: center;
}

.button-circle__text {
	line-height: 1;
	overflow: hidden;
	grid-area: 1 / 1 / -1 / -1;
}

.button-circle__text span {
	display: block;
	padding: 0 0.5rem;
}

.button-circle__text span::before {
	position: absolute;
	content: attr(data-text);
	bottom: 100%;
	font-style: italic;
	width: 100%;
	text-align: center;
	left: 0;
}

.button-circle:hover .button-circle__text span {
	transform: translate3d(0,100%,0);
}

.button-circle__deco {
	width: 100%;
	height: 100%;
	grid-area: 1 / 1 / -1 / -1;
	fill: none;
	stroke: currentColor;
	stroke-width: 1px;
}

.button-circle:hover .button-circle__deco {
	transform: scale3d(1.4,1.4,1);
}

.button-circle__text span,
.button-circle__deco {
	transition: transform 0.3s ease-out;
}

.button-circle:hover .button-circle__text span,
.button-circle:focus .button-circle__text span,
.button-circle:hover .button-circle__deco,
.button-circle:focus .button-circle__deco 


	.content__item {
		padding: 0;
	}

	.content__item-title {
		justify-content: space-between;
	}
	.content__item-title span:first-child {
		margin: -3vw 0 0 -10vw;
	}

	.content__item-title span:last-child {
		margin: 0 -10vw -3vw 0;
	}



.contain {
  margin: 0 10%;
}

.hero-text {
  width: 80%;
  float: left;
}

.cat{
  font-size: 18px;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #FFF;
  margin-top: 30px;
}

.cat:after {
  position: absolute;
  top: 50%;
  left: 100%;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  margin-left: 5px;
}

.cat.margin-bottom{
  margin-bottom: 1rem;
}

.description {
  letter-spacing: 1px;
  width: 100%;
  float: left;
  margin-bottom: 1rem;
}

.description p {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}

#bg{
  z-index: -1;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#bg img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  max-width: 900px;
}

.image-one{
  width: 80%;
  float: left;
  margin-right: 50%;
  margin-bottom: 50px;
}

@media (min-width: 1280px) {
  .description {
    width: 50%;
  }
}

@media (min-width: 600px) {
  .hero-text {
    width: 50%;
  }
  .image-one {
     width: 100%;
     padding-bottom: 20px;
  }
}
